
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: 0px;
    // background-color: #7952b3;
    transition: 0.4s;
}

.content {
    margin-left: 250px;
}
